
<div align="center">
  <h1 align="center">Listing posts</h1>
  <%= link_to 'New Post', new_post_path, remote: true %>
</div>
<div class="panel-group">
  <%= render @posts.reverse %>
  <%= will_paginate @posts,:previous_label => '<', :next_label => '>', renderer: BootstrapPagination::Rails %>
</div>
