<div align="center" class="page-header">
  <h1 align="center">Listing news</h1>
  <%= link_to 'Write a new', new_post_path, remote: true, "data-toggle" => "modal", "data-target" => ".mymodalfade" %>
  <!-- <%#= link_to "Open modal", new_post_path, :class => "btn btn-primary", :remote => true, "data-toggle" => "modal", "data-target" => ".mymodalfade" %> -->
</div>

<div class="modal fade mymodalfade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
</div>

<div id="posts" class="panel-group clearfix paginatiable">
  <%= render @posts %>
</div>

<div id="loader" class="text-center">
  <img src="/assets/loading.gif" alt="Loading...">
  </img>
</div>
