<div align="center" class="page-header">
  <h1 align="center">Listing posts</h1>
  <%= link_to 'New Post', new_post_path, remote: true %>
</div>


<div id="posts" class="panel-group">
  <%= render @posts.reverse %>
</div>
<div id="loader" class="text-center">
  <img src="images/loading.gif" alt="Loading...">
      <%= will_paginate %>
  </img>
</div>
