<div align="center" class="page-header">
  <h1 align="center">Listing news</h1>
  <%= link_to 'Write a new', new_post_path, remote: true %>
  <%= link_to "Open modal", new_post_path, :class => "btn btn-primary", :remote => true, "data-toggle" => "modal", "data-target" => ".mymodalfade" %>
</div>

<div class="modal fade mymodalfade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Creating a new post</h4>
      </div>
      <div class="modal-body mymodalfadebody" id="mymodalfadebody"> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" form="post_form" class="btn btn-primary" id="submit">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="posts" class="panel-group clearfix paginatiable">
  <%= render @posts %>
</div>

<div id="loader" class="text-center">
  <img src="/assets/loading.gif" alt="Loading...">
  </img>
</div>
